<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>todo-go-wasm</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="app-version" content="<%= htmlWebpackPlugin.options.appVersion %>">
    <meta name="app-build-date" content="<%= htmlWebpackPlugin.options.appBuildDate %>">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <script src="./wasm_exec.js"></script>
</head>
<body>

    <div class="container mx-auto mt-4">
        <div id="app"></div>
    </div>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</body>
</html>
